html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  color: #fff;
}

.container {
  max-width: 1131px;
  width: 100%;

  padding: 24px 10px 0;
  margin: auto;
}

.container-outer {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.block-separator {
  display: block;

  width: 1110px;
  height: 1px;

  background-color: rgb(13%, 22%, 26%, 0.1);

  margin: 150px auto;
}

.info {
  height: 811px;

  background-image: url('../img/info_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.info-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin-bottom: 121px;
}

.info-menu {
  cursor: pointer;
}

.info-description_sm {
  font-size: 14px;
}

.info-description_lg {
  font-size: 60px;
  font-weight: 700;

  margin: 23px 0;
}

.info-button {
  margin-top: 45px;
}

.info-button i {
  font-size: 16;
  font-weight: 700;

  color: #ffd723;
}

.info-button a {
  font-weight: 700;

  color: #ffd723;
}

.info-outer {
  position: relative;
}

.partners {
  position: absolute;
  right: 0;
  bottom: -120px;
  z-index: 1;

  width: 1276px;
  height: 227px;

  background-color: #fff;

  -webkit-box-shadow: 50px 50px 100px 0px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 50px 50px 100px 0px rgba(34, 60, 80, 0.15);
  box-shadow: 50px 50px 100px 0px rgba(34, 60, 80, 0.15);

  border-radius: 2px 0;
}

.partners-logos {
  display: flex;
  justify-content: space-between;

  margin: 60px 166px 0 60px;
}
