html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  color: #fff;
}

.container {
  max-width: 1131px;
  width: 100%;

  padding: 24px 10px 0;
  margin: auto;
}

.container-outer {
  max-width: 1440px;
  width: 100%;
}

.info {
  height: 811px;

  background-image: url('../img/info_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.info-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin-bottom: 121px;
}

.info-menu {
  cursor: pointer;
}

.info-description_sm {
  font-size: 14px;
}

.info-description_lg {
  font-size: 60px;
  font-weight: 700;

  margin: 23px 0;
}

.info-button {
  margin-top: 45px;
}

.info-button i {
  font-size: 16;
  font-weight: 700;

  color: #ffd723;
}

.info-button a {
  font-weight: 700;

  color: #ffd723;
}
