html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  color: #fff;
}

.container {
  max-width: 1131px;
  width: 100%;

  padding: 24px 10px 0;
  margin: auto;
}

.container-outer {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.block-separator {
  display: block;

  width: 1110px;
  height: 1px;

  background-color: rgb(13%, 22%, 26%, 0.1);

  margin: 150px auto;
}

/*
INFO BLOCK START
*/

.info {
  height: 811px;

  background-image: url('../img/info_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.info-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  margin-bottom: 121px;
}

.info-menu {
  cursor: pointer;
}

.info-description_sm {
  font-size: 14px;
}

.info-description_md {
  line-height: 26px;
}

.info-description_lg {
  font-size: 60px;
  font-weight: 700;

  margin: 23px 0;
}

.info-button {
  margin-top: 45px;
}

.info-button i {
  font-size: 16;
  font-weight: 700;

  color: #ffd723;
}

.info-button a {
  font-weight: 700;

  color: #ffd723;
}

.info-outer {
  position: relative;
}

/*
INFO BLOCK END
*/

/*
PARTNERS BLOCK START
*/

.partners {
  position: absolute;
  right: 0;
  bottom: -120px;
  z-index: 1;

  width: 1276px;
  height: 227px;

  background-color: #fff;

  -webkit-box-shadow: 50px 50px 100px 0px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 50px 50px 100px 0px rgba(34, 60, 80, 0.15);
  box-shadow: 50px 50px 100px 0px rgba(34, 60, 80, 0.15);

  border-radius: 2px 0;
}

.partners-logos {
  display: flex;
  justify-content: space-between;

  margin: 60px 166px 0 60px;
}

/*
PARTNERS BLOCK END
*/

/*
STRATEGY BLOCK START
*/

.strategy-outer {
  background-color: #fff;
}

.strategy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strategy-description {
  margin-top: 244px;
}

.strategy-description_sm {
  color: rgba(77, 83, 60, 0.9);
  font-size: 14px;
  font-weight: 400;

  margin-bottom: 29px;
}

.strategy-description_md {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  margin-bottom: 42px;
}

.strategy-description_lg {
  color: #4d533c;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;

  margin-bottom: 35px;
}

.strategy-description_lg span {
  background-color: rgba(255, 215, 35, 0.1);
}

.strategy-description-button i {
  color: #d4d6d4;
}

.strategy-description-button a {
  color: #d4d6d4;
}

.strategy-description-button:hover i {
  color: #ffd723;
}

.strategy-description-button:hover a {
  color: #ffd723;
}

.strategy-ceo {
  width: 474px;
  height: 644px;

  -webkit-box-shadow: 50px 0px 100px 0px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 50px 0px 100px 0px rgba(34, 60, 80, 0.15);
  box-shadow: 50px 0px 100px 0px rgba(34, 60, 80, 0.15);
}

.strategy-ceo-container {
  margin: 244px 0 0 40px;
}

.strategy-ceo-description {
  color: #4d533c;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 40px;

  margin-bottom: 50px;
}

.strategy-ceo-author {
  display: flex;
  flex-direction: row;
}

.strategy-ceo-author img {
  width: 90px;
  height: 90px;

  border-radius: 50%;

  margin-right: 30px;
}

.strategy-ceo-author-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strategy-ceo-author-title {
  color: #4d533c;
  font-size: 22px;
  font-weight: 700;

  margin-bottom: 6px;
}

.strategy-ceo-author-subtitle {
  color: #152934;
  font-size: 16px;
  font-weight: 400;
}

/*
STRATEGY BLOCK END
*/

/*
PROJECTS BLOCK START
*/

.projects-outer {
  background-color: #fff;
}

.projects-info {
  margin-bottom: 100px;

  display: flex;
  flex-direction: row;
}

.projects-info-title {
  color: #4d533c;
  font-size: 36px;
  font-weight: 700;

  margin-right: 133px;
}

.projects-info-subtitle {
  color: rgb(13%, 22%, 26%, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 150px;
}

.projects-image {
  position: relative;

  width: 750px;
  height: 500px;

  margin-right: 100px;

  background-repeat: no-repeat;
  background-size: cover;
}

.projects-description {
  display: flex;
  flex-direction: column;
}

.projects-description-title {
  color: #4d533c;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;

  margin-bottom: 24px;
}

.projects-description-subtitle {
  color: rgb(13%, 22%, 26%, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  margin-bottom: 90px;
}

.projects-description-button i {
  color: #d4d6d4;
}

.projects-description-button a {
  color: #d4d6d4;
}

.projects-description-button:hover i {
  color: #ffd723;
}

.projects-description-button:hover a {
  color: #ffd723;
}

.projects-comment {
  position: absolute;
  bottom: -65px;
  right: -40px;
  z-index: 1;

  width: 453px;
  height: 243px;

  border-radius: 8px;

  background-color: #fff;

  -webkit-box-shadow: 50px 0px 100px 0px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 50px 0px 100px 0px rgba(34, 60, 80, 0.15);
  box-shadow: 50px 0px 100px 0px rgba(34, 60, 80, 0.15);
}

.projects-comment-inner {
  display: flex;
  flex-direction: column;

  margin: 30px 0 0 30px;
}

.projects-comment-text {
  color: #4d533c;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;

  margin-bottom: 24px;
}

.projects-comment-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects-comment-author img {
  width: 46px;
  height: 46px;

  border-radius: 50%;

  margin-right: 14px;
}

.projects-comment-author-text {
  display: flex;
  flex-direction: column;
}

.projects-comment-author-title {
  color: #4d533c;
  font-size: 16px;
  font-weight: 700;

  margin-bottom: 4px;
}

.projects-comment-author-subtitle {
  color: #152934;
  font-size: 14px;
  font-weight: 400;
}

.projects-container .right {
  justify-content: flex-end;

  margin-left: auto;
  margin-right: 0;
}

.projects-image .right {
  margin: 0;
}

/*
PROJECTS BLOCK END
*/
